{% extends 'header.html' %}

{% block content %}
    <div class="col-lg-12 col-md-12 col-sm-12">
        <br />
        <h2><b>FAQs</b></h2>
        <hr />
        <small><b>What Imagify does?</b></small>
        <ul class="list-group list-group">
            <li class="list-group-item small">Lets you upload image</li>
            <li class="list-group-item small">Predicts what the image is all about</li>
            <li class="list-group-item small">Gives you multiple probability what the image could be... and options to find more similar images in Google.com + Meaning of the Image via Dictionary.com</li>
            <li class="list-group-item small"><i>Helps you learn by taking the picture of things you do not know</i></li>
        </ul>
        <hr />
        <small><b>HowTos, Overview and References.</b></small>
        <ul class="list-group list-group">
            <li class="list-group-item small">Imagify is build using Keras(Highlevel API), Backend Tensorflow, 
            Python, Flask, and other minor dependencies </li>
            <li class="list-group-item small">I borrowed the code logics from https://blog.keras.io</li>
            <li class="list-group-item small">I referred to several tutorials on https://python.org</li>
            <li class="list-group-item small">I referred to several Stackoverflow QA</li>
        </ul>
        <hr />
        <div class="alert alert-primary" role="alert"> Available in Github @ https://github.com/brlrb </div>
    </div>
{% endblock %}
