{% extends 'header.html' %}


{% block content %}

    <div class="col-lg-12 col-md-12 col-sm-12">

        <h3>Welcome to Imagify</h3>
        <small>Learn more through a picture. Take a picture and learn what the picture is all about...</small>
        <hr />
        <br />
        <div class="card" style="width: 100%">
            <div class="card-header">  Select an image to find out what it is?  </div>
            <div class="card-body">
                <form action = "http://127.0.0.1:5000/predict" method = "POST"  enctype = "multipart/form-data"> 
                    <input type = "file" name = "image"  
                        style = " border: 3px solid #3a99af;  padding: 5px;  margin-bottom: 10px"/> 
                        <br />
                    <input type = "submit" class="btn btn-primary" value="Predict the Image"  />

                </form>
            </div>                
        </div>
    </div>
        
{% endblock %}
